<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SearchFriends/quizzStyles.css">
    <title>Document</title>
</head>

<body>
    <nav class="navBar">
        <ul>
            <li class="quizLogo">QuizzHub</li>
            <ul class="userLinks">
                <li><a href="/home">Home</a></li>
                <li><a class="quizzLink" href="/createQuiz">Quiz</a></li>
                <li><a href="">About</a></li>
            </ul>
            <!-- <li><button class="logOutBtn">Log-Out</button></li> -->
            <li><button class="userIconBtn"><img src="/images/user-svgrepo-com.svg" alt=""></button></li>
        </ul>
    </nav>
    <div class="middleContainer">
        <div>
            <p class="subIconName">Search</p>
        </div>
        <ul class="subSearchIcons">
            <li><a href="/createQuiz"><img src="/SearchFriends/images/ideas.png" alt=""></a></li>
            <li><a><img src="/SearchFriends/images/friends.png" alt=""></a></li>
            <li><a href="/serachFriend"><img src="/SearchFriends/images/search.png" alt=""></a></li>
        </ul>
    </div>
    <section class="mainBodyContainer">
        <main class="searchSection">
            <section>
                <form action="/userSearchResults" method="POST">
                    <input type="text" name="usernameSearch" id="username" placeholder="username">
                    <button class="userSearchBtn">Search</button>
                </form>
            </section>
            <div class="findFriendsDiv">
                <%if(foundUser==="1"){%>
                    <p>No users found</p>
                    <% }%>
                        <% if(foundUser && foundUser!="1" ){%>
                            <div>
                                <span class="foundUsername">Username :<p>
                                        <% if(foundUser){%>
                                            <%= foundUser.username%>
                                                <%}%>
                                    </p></span>
                                <span class="foundEmail">Email :<p>
                                        <% if(foundUser){%>
                                            <%= foundUser.email%>
                                                <%}%>
                                    </p> </span>
                                <button class="addFriendBtn">Add-Friend</button>
                                <main class="foundUserQuizs">
                                    <div class="foundUserQuiz">
                                        <span>
                                            <%= foundQuiz1.QuizName%>
                                        </span><a href="/attemptQuiz/<%=foundQuiz1.username%>/<%=foundQuiz1.QuizName%>""
                                            class=" attemptQuizBtn">Attempt
                                            Quiz</a>
                                    </div>
                                    <div class="foundUserQuiz">
                                        <span>
                                            <%= foundQuiz2.QuizName%>
                                        </span><a href="/attemptQuiz/<%=foundQuiz1.username%>/<%=foundQuiz2.QuizName%>"
                                            class="attemptQuizBtn">Attempt Quiz</a>
                                    </div>
                                </main>
                            </div>
                            <% }%>
            </div>
        </main>
        <!-- <main class="profileDisplayContainer"> -->
        <section class="userDetails">
            <div class="userDetailsContainer">
                <img class="profilePicture" src="/SearchFriends/images/userP2.png" alt="">
                <div class="usernameDisplayName">
                    <p class="userNameDetails">Username : <span>
                            <%= username.username%>
                        </span></p>
                    <p class="displayNameDetails">Email-ID : <span>
                            <%= username.email%>
                        </span></p>
                </div>
                <div>
                    <p class="aboutDetails">About Me : <span>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Recusandae pariatur</span>
                    </p>
                </div>
            </div>
            <div class="userQuizDiv">
                <%if(CurrentfoundQuiz1===null){ %>
                    <section class="quizCreatedByUser">
                        <a href="/createQuiz" class="deleteQuizBtn">Create
                            Quiz</a>
                    </section>
                    <% }else{ %>
                        <section class="quizCreatedByUser">
                            <span>
                                <%=CurrentfoundQuiz1.QuizName%>
                            </span>
                            <form method="POST"
                                action="/serachFriend/deleteQuiz/<%=CurrentfoundQuiz1.QuizName%>?_method=DELETE">
                                <button type="submit" class="deleteQuizBtn">DELETE</button>
                            </form>
                        </section>
                        <%}%>
                            <%if(CurrentfoundQuiz2===null){ %>
                                <section class="quizCreatedByUser">
                                    <a href="/createQuiz" class="deleteQuizBtn">Create
                                        Quiz</a>
                                </section>
                                <% }else{ %>
                                    <section class="quizCreatedByUser">
                                        <span>
                                            <%=CurrentfoundQuiz2.QuizName%>
                                        </span>
                                        <form method="POST"
                                            action="/serachFriend/deleteQuiz/<%=CurrentfoundQuiz2.QuizName%>?_method=DELETE">
                                            <button type="submit" class="deleteQuizBtn">DELETE</button>
                                        </form>
                                    </section>
                                    <%}%>
            </div>
        </section>
        <!-- </main> -->
    </section>
</body>

</html>